@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
:root {
  --body-bg: #ffffff;
  --body-color: #000;
}

body,
html {
  background: var(--body-bg);
  color: var(--body-color);
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 93vh;
}

.leaflet-event-container {
  width: 100%;
  height: 50vh;
}

.apply-background {
  background: var(--body-bg);
}

.dark {
  filter: invert(100%) hue-rotate(180deg);
}

.dark .prevent-invert {
  filter: invert(1) hue-rotate(180deg) !important;
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4;
  }

  .small-container {
    @apply w-full max-w-lg mx-auto;
  }
  .card {
    @apply shadow-md px-8 pt-6 pb-8 mb-4;
  }

  .card-primary-title {
    @apply text-center text-4xl font-bold my-5;
  }

  .card-primary-text {
    @apply text-xl text-center mb-5;
  }

  .card-primary-image {
    @apply mx-auto w-full max-w-md;
  }

  .select {
    @apply appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 transition ease-in-out m-0;
  }

  .button {
    @apply bg-blue-500  text-white font-bold py-2 px-4 outline-none hover:bg-blue-700 prevent-invert;
  }

  .button-danger {
    @apply bg-red-500  text-white font-bold py-2 px-4 outline-none hover:bg-red-700 prevent-invert;
  }

  .button-warning {
    @apply bg-orange-500  text-white font-bold py-2 px-4 outline-none hover:bg-orange-700 prevent-invert;
  }

  .button-success {
    @apply bg-green-500  text-white font-bold py-2 px-4 outline-none hover:bg-green-700 prevent-invert;
  }

  .button-outline {
    @apply bg-transparent  text-blue-700 border-2 border-blue-700 font-bold py-2 px-4 outline-none hover:bg-blue-700 hover:text-white prevent-invert;
  }

  .button-large {
    @apply py-2 px-5 text-lg;
  }

  .button-small {
    @apply py-1 px-3 text-sm;
  }
}
